@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: white;
  background: #34353A;
  font-family: Arial, Helvetica, sans-serif;
}

.HeroBG{
  background: linear-gradient(90deg, #34353A 0.22%, #49443F 99.82%);
}

.companyBG{
  background: #3D3E42;
}
.background{
  background-color: #FBC76A;
}
.companyText{
  color: #FBC76A;
}
.boxShadow{
  box-shadow: rgba(251, 199, 106, 0.18) 1px 1px 20px;
}
.cardShadow:hover{
  box-shadow: rgba(251, 199, 106, 0.73) 1px 1px 20px;
}
.borderColor{
  border-color: rgb(251, 199, 106);
}